.btnV1 {
    @include btnStyle;
    padding: 15px 56px;
    display: inline-block;
    cursor: pointer;
}

.btnV2 {
    @include btnStyleV2;
    display: inline-block;
    cursor: pointer;
}

.btnV3 {
    @include btnStyleV3;
    display: inline-block;
    cursor: pointer;
    padding: 8px 30px;
}

.top-btn {
    width: 50px;
    display: block;
    z-index: 555;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition: all ease 0.5s;
    transform: translateY(100px);

    img {
        width: 100%;
        display: block;
    }
}

.__body_up {
    transform: translateY(0px);
}

.btnInputSubsc {
    border: 1px solid $bgColor;
    border-radius: 5px;
    padding: 10px 20px;
    color: $bgColor;
    background: none;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: all ease 0.3s;
    display: inline-block;

    &:hover {
        background: $bgColor;
        color: $textColor;
        transition: all ease 0.3s;
    }
}

.btn-submit-form {
    padding: 8px 24px;
    background: $brendColor;
    opacity: 0.8;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
    color: $textColor;
    transition: all ease 0.3s;
    cursor: pointer;

    &:hover {
        background: $textColor;
        color: $brendColor;
        transition: all ease 0.3s;
    }
}

@media only screen and (max-width: 750px) {
    .btnV1 {
        padding: 11px 30px;
        font-size: 14px;
    }

    .top-btn {
        width: 40px;
        right: 10px;
        bottom: 70px;

    }

    .btnV2 {
        padding: 11px 30px;
        font-size: 14px;
    }

}