.card-product-slider-sec {
    padding: 50px 0;
}

//card sec
.card-info-sec {
    padding: 100px 0 50px 0;

    .card-info-sec__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 60px;
        padding-right: 60px;
    }
}

.card-info-sec__slider {
    width: 450px;
}

.card-big-slider {
    width: 100%;
}

.card-big-slider__element-wrapper {
    width: 100%;
    height: 450px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        transition: all ease 0.3s;
        max-width: 100%;
        max-height: 100%;
        display: block;
        cursor: pointer;
    }

    &:hover {
        img {
            transition: all ease 0.3s;
            transform: scale(1.1);
        }
    }
}

.card-info-sec__nav-slider {
    margin-top: 25px;
}

.card-nav-slider {
    width: calc(100% + 30px);
    margin-left: -15px;
    position: relative;
    display: flex;
    align-items: center;

    .next-ar_slide {
        right: -20px;
    }

    .prev-ar_slide {
        left: -20px;
    }
}

.card-nav-slider__element {
    padding: 0 15px;
}

.card-nav-slider__element-wrapper {
    height: 88px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        transition: all ease 0.3s;
    }

    &:hover {
        img {
            transform: scale(1.1);
            transition: all ease 0.3s;
        }
    }
}

.card-info-sec__info {
    width: 450px;
}

.card-info-sec__category-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card-info-sec__category-name {
    color: $brendColor;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.card-info-sec__fixed-btn-conteiner {
    display: flex;
    align-items: center;

    .prod-fixed-btn {
        margin-bottom: 0;
        margin-left: 14px;
        display: flex;
        justify-content: center;

        .fixed-btn__text {
            width: 111px;
            padding: 0;
            right: auto;
            bottom: 31px;
            padding-bottom: 6px;

            span {
                &:before {
                    right: auto;
                    bottom: -4px;
                }
            }
        }
    }
}

.card-info-sec__product-title {
    margin-top: 20px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
}

.card-info-sec__text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}

.card-info-sec__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.card-info-sec__price {
    width: calc(50% - 14px);
}

.price-conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.price-conteiner__price {
    width: 100%;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-decoration-line: line-through;
    color: #97A3B7;
}

.price-conteiner__current-price {
    font-weight: 500;
    font-size: 30px;
    line-height: 26px;
    font-weight: 600;
    color: $brendColor;
}

.price-conteiner__sale {
    margin-left: 20px;
    font-size: 16px;
    color: $brendColor;
    border: solid 1px $brendColor;
    padding: 3px 10px;
    border-radius: 5px;
}

.card-info-sec__btn-price-conteiner {
    width: calc(50% - 14px);

    .btnV1 {
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .btnV2 {
        padding: 20px;
        width: 100%;
        text-align: center;
    }
}


//product dop info sec
.product-dop-info-sec {
    padding: 50px 0;
}

.card-nav {
    ul {
        display: flex;
        margin-bottom: 10px;

        li {
            font-size: 20px;
            line-height: 23px;
            font-weight: 400;
            color: $textColor;
            margin-right: 14px;
            cursor: pointer;
            transition: all ease 0.3s;
        }

        .card-nav_active {
            color: $brendColor;
        }
    }
}

.tab-claster__element {
    display: none;
    padding-top: 50px;
}

.sec-title_no-anim {
    margin-bottom: 30px;
}

.tab-claster {
    .tab-claster__element_active {
        display: block;
    }
}

.sec-title_no-anim {
    font-size: 32px;
    line-height: 50px;
    font-weight: 400;
    color: #beaf90;
}

.tab-claster__about-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.tab-claster__about-image {
    width: 425px;
    height: 390px;
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.tab-claster__about-text {
    width: 425px;

    p {
        font-size: 14px;
        line-height: 16px;
        width: 100%;
        text-align: right;
        font-weight: 300;
    }
}

.description-tab {
    .tab-claster__about-box {
        &:nth-child(even) {
            .tab-claster__about-text {
                order: 1;

                p {
                    text-align: left;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.download-btn {
    display: flex;
    align-items: center;
    border: solid 1px $brendColor;
    justify-content: center;
    width: 300px;
    padding: 8px 0px;
    border-radius: 10px;
    margin-bottom: 65px;
    transition: all ease 0.3s;

    p {
        color: $brendColor;
        margin-left: 8px;
        font-size: 16px;
        line-height: 150%;
        font-weight: 300;
        transition: all ease 0.3s;

    }

    svg {
        path {
            transition: all ease 0.3s;
        }
    }

    &:hover {
        background: $brendColor;
        transition: all ease 0.3s;

        svg {
            path {
                stroke: $textColor;
                transition: all ease 0.3s;
            }
        }

        p {
            color: $textColor;
            transition: all ease 0.3s;
        }

    }
}

.characteristic-claster__list-conteiner {
    width: 100%;
    padding-bottom: 30px;
}

.characteristic-claster__list-title {
    font-size: 20px;
    font-weight: 300;
    color: $brendColor;
}

.characteristic-claster__list-ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    li {
        width: calc(50% - 10px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        font-weight: 300;

        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
            color: #97A3B7;
        }

        span {
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
            color: $textColor;
        }
    }
}

.characteristic-claster__error-btn {
    color: #172547;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        color: $brendColor;
        transition: all ease 0.3s;
    }
}

.reviews-tab {
    .sec-title_no-anim {
        margin-bottom: 20px;
    }
}

.reviews-tab__no-content-text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.reviews-tab__btn-wrapper {}

.reviews-tab__claster {
    padding-left: 60px;
    margin-top: 110px;
}

.review-element__header {
    display: flex;
    align-items: center;
}

.review-element__img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.review-element__info {
    margin-left: 15px;
}

.review-element__name-row {
    display: flex;
    align-items: center;
}

.review-element__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $brendColor;
    margin-right: 20px;
}

.review-element__star-row {
    display: flex;
    align-items: center;
}

.review-element__star {
    margin-right: 14px;
    width: 24px;
    height: 24px;
    background-image: url('../img/_src/star-def.svg');
    background-size: cover;
    background-position: center;
}

.review-element__star_active {
    background-image: url('../img/_src/star-act.svg');
}

.review-element__date {
    margin-top: 3px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #97A3B7;
}

.review-element__body {
    padding-top: 20px;
    padding-bottom: 15px;
    width: 600px;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}

.review-element__answer-btn {
    font-weight: 400;
    font-size: 14.3333px;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: #97A3B7;
    cursor: pointer;
}

.review-element__answer {
    padding-bottom: 50px;
    padding-left: 30px;
}

.review-element__post {
    padding-bottom: 50px;
}

.reviews-tab__btn-continer-down {
    width: 100%;
    display: flex;
    justify-content: center;

    .btnV1 {
        width: 550px;
    }
}

.faq-tab__no-content {
    padding-top: 50px;
    padding-bottom: 230px;

    p {
        text-align: center;
        font-size: 20px;
        line-height: 50px;
        font-weight: 300;
        color: $brendColor;
    }
}



//recept sec
.recept-sec {
    padding: 50px 0 100px 0;
}

.recept-sec__row {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recept-sec__element {
    width: calc(25% - 20px);
    height: 265px;
    display: flex;
    align-items: center;
    justify-content: center;

    .formula-element__content {
        padding: 15px;
    }
}

@media only screen and (max-width: 1250px) {
    .card-info-sec__info {
        width: calc(50% - 25px);
    }

    .card-info-sec__slider {
        width: calc(50% - 25px);
    }
}

@media only screen and (max-width: 1000px) {
    .recept-sec__row {
        flex-wrap: wrap;
    }

    .recept-sec__element {
        width: calc(33.333% - 20px);
    }

    .recept-sec__btn-element {
        width: 100%;
        min-height: auto;
        height: auto;
        margin-top: 30px;
    }

    .card-info-sec__product-title {
        font-size: 24px;
        line-height: 28px;
    }

    .price-conteiner__current-price {
        font-weight: 500;
        font-size: 24px;
        line-height: 26px;
    }

    .card-info-sec .card-info-sec__row {
        padding-left: 30px;
        padding-right: 30px;
    }

    .card-nav-slider {
        .prev-ar_slide {
            left: -15px;
        }

        .next-ar_slide {
            right: -15px;
        }
    }

    .card-big-slider__element-wrapper {
        height: 350px;
    }

    .card-info-sec__btn-price-conteiner .btnV2 {
        padding-left: 0;
        padding-right: 0;
    }

    .card-info-sec__btn-price-conteiner .btnV1 {
        padding-left: 0;
        padding-right: 0;
    }

    .price-conteiner__sale {
        margin-left: 10px;
    }

    .sec-title_no-anim {
        font-size: 24px;
    }

    .tab-claster__about-image {
        width: 250px;
        height: 250px;
    }

    .tab-claster__about-text {
        width: 250px;
    }

    .tab-claster__about-box {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 810px) {

    .card-info-sec__price-row {
        flex-wrap: wrap;
    }

    .card-info-sec__price-row {
        margin-top: 0;
    }

    .card-info-sec__btn-price-conteiner {
        width: 100%;
        margin-bottom: 10px;
    }

    .price-conteiner__sale {
        margin-left: 0;
    }

    .price-conteiner__price {
        width: auto;
        margin-top: 0;
    }

    .price-conteiner {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

}

@media only screen and (max-width: 750px) {
    .recept-sec__element {
        width: calc(100%);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .recept-sec__row {
        padding-left: 37px;
        padding-right: 37px;
    }

    .recept-sec__btn-element {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .card-info-sec__slider {
        width: 100%;
    }

    .card-big-slider {
        display: none;
        display: flex;
        align-items: center;

        .ar_slier {
            position: absolute;
            z-index: 20;
        }

        .next-ar_slide {
            right: 0;
        }

        .prev-ar_slide {
            left: 0;
        }
    }

    .card-nav-slider {
        display: none;
    }

    .card-info-sec__info {
        width: 100%;
    }

    .card-info-sec__btn-price-conteiner {
        margin-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .price-conteiner {
        padding: 12px 0 50px 0;
    }

    .card-info-sec__product-title {
        font-size: 20px;
        line-height: 23px;
    }

    .card-info-sec__text {
        margin-top: 25px;
    }

    .card-nav {
        display: none;
    }

    .tab-claster__element {
        padding-top: 0;
    }

    .card-info-sec {
        padding-bottom: 0;
    }

    .product-dop-info-sec {
        padding-top: 60px;
    }

    .tab-claster__about-box {
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    .tab-claster__about-text {
        width: 100%;
        margin-bottom: 25px;

        p {
            text-align: left;
        }
    }

    .description-tab .tab-claster__about-box:nth-child(even) {
        .tab-claster__about-text {
            order: 0;
        }
    }

    .sec-title_no-anim {
        margin-bottom: 25px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        &:before {
            width: 17px;
            height: 17px;
            right: 0;
            content: "";
            position: absolute;
            background-image: url('../img/_src/ar-lang-ic.svg');
            background-size: cover;
            background-position: center;
            z-index: 10;
            transition: all ease 0.3s;
        }
    }

    .tab-claster__element {
        display: block;
    }

    .download-btn {
        margin-bottom: 35px;
    }

    .characteristic-claster__list-ul li {
        width: 100%;
    }

    .reviews-tab__no-content-text {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        margin-bottom: 30px;
    }

    .reviews-tab__btn-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .reviews-tab__claster {
        margin-top: 60px;
        padding-left: 20px;
    }

    .review-element__body {
        width: 100%;

        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .review-element__info {
        width: calc(100% - 50px);
        margin-left: 0;
        padding-left: 15px;
    }

    .review-element__star {
        margin-right: 10px;
    }

    .review-element__answer {
        padding-left: 30px;
    }

    .characteristic-claster__list-conteiner {
        padding-bottom: 10px;
    }

    .card-info-sec__price-row {
        .card-info-sec__btn-price-conteiner {
            &:first-child {
                order: 1;
            }
        }
    }

    .tab-claster__element-conteiner {
        transition: all ease 1s;
        overflow: hidden;
        opacity: 0;
        max-height: 0;

    }

    .sec-title_no-anim {
        color: $textColor;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
    }

    .product-dop-info-sec {
        padding-bottom: 0;
    }

    .tab-claster__element {
        overflow: hidden;
    }

    .bodyTab_mob-active {
        .tab-claster__element-conteiner {
            opacity: 1;
            max-height: 3000px;
            padding-bottom: 25px;
        }

        .sec-title_no-anim {
            color: $brendColor;

            &:before {
                transform: rotate(180deg);
            }
        }
    }

}