.catalog-sec {
    background-image: radial-gradient(circle at 83% 3%, #2b333e, #1c222c 42%);
}

.catalog-front-sec {
    width: 100%;
    height: 480px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    .back-row {
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;

        .button-close {
            position: relative;
            left: auto;
        }
    }


    .main-wrapper {
        height: 100%;
        background-image: radial-gradient(circle at 54% 50%, rgba(43, 51, 62, 0), #19202b 94%);
    }
}

.catalog-sec__title {
    width: calc(100% - 44px);
    padding-right: 35px;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
    font-size: 32px;
    font-weight: 600;
    color: $white;
    line-height: 1.13;
    letter-spacing: 0.64px;
}

.types-sec {
    margin-top: -50px;
    padding-bottom: 74px;
    position: relative;
    z-index: 5;
}

.slider-types__slider {
    .slick-list {
        padding: 0px 30% 0 0 !important;
    }

    .ar_slier {
        position: absolute;
        z-index: 5;
        width: 36px;
        height: 14px;
        background: url('../img/_src/ar-prof-next.svg');
        background-size: cover;
        background-position: center;
        top: -38px;
    }

    .next-ar_slide {
        right: 32px;
    }

    .prev-ar_slide {
        right: 86px;
        transform: rotate(180deg);
        opacity: 0.5;

    }
}

.slider-types__slider-wrapper {
    margin-top: 22px;
    width: calc(100% - 22px);
    margin-left: 22px;
}

.slider-types__element {
    padding-right: 22px;
    padding-bottom: 10px;
}

.slider-types__element-wrapper {
    box-shadow: 3px 5px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px rgba(255, 255, 255, 0.08);
    background-color: #21262f;
}

.slider-types__image {
    width: 100%;
    height: 157px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        mix-blend-mode: color-dodge;
    }
}

.slider-types__el-info {
    padding: 10px 13px;
}

.slider-types__title-element {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
    letter-spacing: 0.32px;
    color: $white;
    text-transform: uppercase;
}

.slider-types__size {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 17px;
    color: $yellow;

    span {
        font-size: 15px;
        margin-left: 5px;
        font-weight: 500;
    }
}

.slider-types__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;

    p {
        color: #a9b2bf;
        font-size: 14px;
    }
}

.slider-types__btn-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.slider-types__btn {
    position: relative;
    backdrop-filter: blur(3.5px);
    background: rgba(43, 51, 62, 0.67);
    display: flex;
    align-items: center;
    padding: 17px 16px 16px 20px;
    position: relative;

    p {
        color: $white;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.16);
        font-size: 14px;
        margin-right: 17px;
    }

    img {
        width: 34px;
        display: block;
        height: auto;
    }

    &:before {
        content: "";
        position: absolute;
        /* установка абсолютного положения для псевдоэлемента */
        top: 0;
        left: -15px;
        /* установка левого положения на 20px от div */
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        /* установка верхней границы треугольника */
        border-bottom: 50px solid transparent;
        /* установка нижней границы треугольника */
        border-right: 15px solid rgba(43, 51, 62, 0.67);

        /* установка правой границы треугольника и цвета фона */
    }
}