.chat-btn-con {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 3px 5px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px rgba(255, 255, 255, 0.08);
    background-color: #ddb40a;
}

.chat-sec {
    background-image: radial-gradient(circle at 28% 6%, #2b333e, #1c222c 44%);
    padding-top: 62px;
}

.chat-sec__title-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    h2 {
        text-align: center;
        width: 100%;
        color: $white;
        font-size: 18px;
        font-weight: bold;
    }
}

.chat-sec__row-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    color: #a9b2bf;
    font-size: 15px;
    font-weight: 300;
    margin-left: 5px;
}

.chat-sec__status {
    width: 6px;
    height: 6px;
    border-radius: 100px;
    background: red;
    margin-right: 5px;
}

.chat-sec__status_active {
    background-color: #2add0a;
}

.chat-message-conteiner {
    margin-top: 32px;

}

.chat-message-conteiner__post {
    width: calc(100% - 35px - 32px);
    padding: 11px 23px 25px 18px;
    border-radius: 21px;
    background-color: #39404b;
    margin-bottom: 12px;
}

.chat-message-conteiner__name {
    color: #ddb40a;
    line-height: 2;
    letter-spacing: 0.36px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.chat-message-conteiner__body {
    line-height: 1.35;
    letter-spacing: 0.17px;
    font-size: 17px;
    color: $white;
}

.chat-message-conteiner__post_user-send {
    margin-left: 55px;
    background-color: #a38400;
}

.chat-sec__message-conteiner {
    max-height: calc(100vh - 222px);
    overflow-y: auto;
    width: calc(100% + 32px);

    &::-webkit-scrollbar {
        width: 0;
    }
}

.chat-sec__send-row {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 12px 28px;
    box-shadow: 0 -3px 9px 0 rgba(0, 0, 0, 0.16);
    background-color: #1c222c;

    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 24px;
        padding: 13px 20px 11.5px 15.7px;
        border: solid 1px rgba(255, 255, 255, 0.06);
        background-color: #21262f;
        position: relative;
    }


}

.chat-sec__inp {
    width: calc(100% - 30px);
    font-size: 17px;
    background: none;
    border: none;
    color: $white;
    padding-left: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    padding-right: 50px;
    ;

    &::placeholder {
        color: #a9b2bf;
    }
}

.chat-sec__file {
    display: block;
    margin-right: 10px;

    label {
        display: block;
        font-size: 0;
        width: 20px;
        height: 20px;
        background: url('../img/_src/file.svg');
        background-size: cover;
        background-position: center;
        border: none;
    }

    input {
        display: none;
    }
}

.chat-sec__btn-send {
    display: block;
    font-size: 0;
    border: none;
    background: url('../img/_src/ic-send.svg')no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 5;
    right: 20px;
}