@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-BlackItalic.eot');
    src: local('☞PT Sans Pro Black Italic'), local('PTSansPro-BlackItalic'),
        url('PTSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-BlackItalic.woff2') format('woff2'),
        url('PTSansPro-BlackItalic.woff') format('woff'),
        url('PTSansPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PTSansPro-ExtraCondExtBd';
    src: url('PTSansPro-ExtraCondExtBd.eot');
    src: local('☞PT Sans Pro Extra Condensed  Extra Bold'), local('PTSansPro-ExtraCondExtBd'),
        url('PTSansPro-ExtraCondExtBd.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-ExtraCondExtBd.woff2') format('woff2'),
        url('PTSansPro-ExtraCondExtBd.woff') format('woff'),
        url('PTSansPro-ExtraCondExtBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-Bold.eot');
    src: local('☞PT Sans Pro Bold'), local('PTSansPro-Bold'),
        url('PTSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-Bold.woff2') format('woff2'),
        url('PTSansPro-Bold.woff') format('woff'),
        url('PTSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-ExtraBoldItalic.eot');
    src: local('☞PT Sans Pro Extra Bold Italic'), local('PTSansPro-ExtraBoldItalic'),
        url('PTSansPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-ExtraBoldItalic.woff2') format('woff2'),
        url('PTSansPro-ExtraBoldItalic.woff') format('woff'),
        url('PTSansPro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}



@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-Italic.eot');
    src: local('☞PT Sans Pro Italic'), local('PTSansPro-Italic'),
        url('PTSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-Italic.woff2') format('woff2'),
        url('PTSansPro-Italic.woff') format('woff'),
        url('PTSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-Light.eot');
    src: local('☞PT Sans Pro Light'), local('PTSansPro-Light'),
        url('PTSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-Light.woff2') format('woff2'),
        url('PTSansPro-Light.woff') format('woff'),
        url('PTSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-LightItalic.eot');
    src: local('☞PT Sans Pro Light Italic'), local('PTSansPro-LightItalic'),
        url('PTSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-LightItalic.woff2') format('woff2'),
        url('PTSansPro-LightItalic.woff') format('woff'),
        url('PTSansPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}





@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-Regular.eot');
    src: local('☞PT Sans Pro'), local('PTSansPro-Regular'),
        url('PTSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-Regular.woff2') format('woff2'),
        url('PTSansPro-Regular.woff') format('woff'),
        url('PTSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-BoldItalic.eot');
    src: local('☞PT Sans Pro Bold Italic'), local('PTSansPro-BoldItalic'),
        url('PTSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-BoldItalic.woff2') format('woff2'),
        url('PTSansPro-BoldItalic.woff') format('woff'),
        url('PTSansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}




@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-Black.eot');
    src: local('☞PT Sans Pro Black'), local('PTSansPro-Black'),
        url('PTSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-Black.woff2') format('woff2'),
        url('PTSansPro-Black.woff') format('woff'),
        url('PTSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


